h1
{
        text-align: center;
        background-color: orange;
        font-family: impact;
        font-size: 16;
	color: bleu
;
}

p
{
        font-family: impact;
        font-style: italic;
        color: green;
}      
