/* passer body (et tous les éléments de largeur fixe) en largeur automatique */
body {
	background-image: url("circuit-board-g6add3c4a9_1280.png");
    text-align: left;
	width: auto;
	margin: 0;
	padding: 0;
}

/* fixer une largeur maximale de 100% aux éléments potentiellement problématiques */
img, table, td, blockquote, code, pre, textarea, input, iframe, object, embed, video {
	max-width: 100%;
}

/* conserver le ratio des images */
img {
	height: auto;
}
	
/* gestion des mots longs */
textarea, table, td, th, code, pre, samp {
	-webkit-hyphens: auto; /* césure propre */
	-moz-hyphens: auto;
	hyphens: auto;
	word-wrap: break-word; /* passage à la ligne forcé */
}

div {
	width: 70%;
    background-color: black;
	border: ridge;
	border-color: #c99e33;
	border-width: 20px;
	padding: 10px;
	margin: 10px;
}

h1
{
	padding: 10px;
	width: 70%;
    background-color: #c99e33;
	color: black;
	font-family: Arial, sans-serif;
	font-size: 35px;
}

h2 {
	padding: 1px 10px;
	color: #c99e33;
	font-size: 25px;
}

a {
	background-color: #c99e33;
	color: black;
	font-style: underline;
	font-size: 12px;
    font-family: Verdana;
}

p, li, ul
{
  	margin-left: 10px;
	font-size: 12px;
    font-family: Verdana;
    color: white;
}

::marker {
  font-size: 0px;
}

ul::before {
	content: "\25AA";
	color:  #c99e33;
  	display: inline-block;
	width: 1em;
  	margin-left: 2em;
}

em {
	background-color: black;
	color : red;
}
