body {
	background-image: url("circuit-board-g6add3c4a9_1280.png");
	background-color: black;
	color: white;
}

h1
{
        text-align: left;
        background-color: white;
	color: lightblue;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 25px;
	color: red;
}

h2 {
	background-color: black;
	color: white;
	font-size: 20px;
}

a {
	background-color: grey;
	color: white;
	font-style: underline;
}


p, li, ul
{
        font-family: Verdana;
        font-style: italic;
        color: white;
	background-color: black;
}

li::before {
	content: "\25AA";
  	display: inline-block;
	width: 1em;
  	margin-left: -1em;
	font-size: 12pt;
	color: white;
	background-color: black;
}

em {
	background-color: black;
	color : red;
}
