body {
	background-image: url("circuit-board-g6add3c4a9_1280.png");
	color: white;
    text-align: left;
}

div {
	width: 70%;
    background-color: black;
	border: ridge;
	border-color: #c99e33;
	border-width: 20px;
	padding: 10px;
	margin: 10px;
}

h1
{
	width: 800px;
	padding: 1px 10px;
    background-color: #c99e33;
	color: black;
	font-family: Arial, sans-serif;
	font-size: 35px;
}

h2 {
	padding: 10px;
	color: #c99e33;
	font-size: 25px;
}

a {
	background-color: #c99e33;
	color: black;
	font-style: underline;
	font-size: 12px;
    font-family: Verdana;
}

p, li, ul
{
  	margin-left: 10px;
	font-size: 12px;
    font-family: Verdana;
    font-style: italic;
    color: white;
	background-color: black;
}

::marker {
  font-size: 0px;
}

ul::before {
	content: "\25AA";
	color:  #c99e33;
  	display: inline-block;
	width: 1em;
  	margin-left: 2em;
}

em {
	background-color: black;
	color : red;
}
