h1
{
        text-align: center;
        background-color: black;
	color: gray;
}

p
{
        font-family: Verdana;
        font-style: italic;
        color: black;
}      

p {color: red;

}




img {height:150px;


}