h1
{
        text-align: center;
        background-color: black;
		color: white;
}
     
p
{
		border: 3px white double
}


body
{
		background-color: white; 		/*cette ligne permet de mettre un fond rose */
}