h1
{
        text-align: center;
        background-color: red;
	color: black;
}

p
{
        font-family: Verdana;
        font-style: ;
        color: black;
}      

h2
{       front-style: italic
        color: black
}	