h1
{
        text-align: center;
        background-color:#687c9e;
	color:  #cb71bb
  ;
}

p
{
        font-family: Verdana;
        font-style: italic;
        color: black;
}      
img
{
	padding: 35px;
