h1
{
        text-align: center;
        background-color:red;
	color:black;
}

p
{
        font-family: Verdana;
        font-style: normal;
	color: brown;	

}      

body {
	background-color : black;
}