/* passer body (et tous les éléments de largeur fixe) en largeur automatique */
body {
	background-image: url("../images/circuit-board-g6add3c4a9_1280.png");
	background-size: cover;
	background-attachment: fixed;
    text-align: left;
	width: auto;
	margin: 0;
	padding: 0;
}

.footer {
	text-align: center;
    	background-color: transparent;
	padding: 10px;
	margin: 10px;
}

/* fixer une largeur maximale de 100% aux éléments potentiellement problématiques */
img, table, td, blockquote, code, pre, textarea, input, iframe, object, embed, video {
	max-width: 100%;
}

img {
	height: auto; /* conserver le ratio des images */
	max-width: 350px;
}
	
/* gestion des mots longs */
textarea, table, td, th, code, pre, samp {
	-webkit-hyphens: auto; /* césure propre */
	-moz-hyphens: auto;
	hyphens: auto;
	word-wrap: break-word; /* passage à la ligne forcé */
}

.or {
	width: 70%;
    	background-color: black;
	border: ridge;
	border-color: #c99e33;
	border-width: 20px;
	padding: 10px;
	margin: 10px;
}

h1
{
	margin: 2em;
	padding: 10px;
	width: 70%;
    background-color: #c99e33;
	color: black;
	font-family: Arial, sans-serif;
	font-size: 35px;
	border-radius:5px;

}

h2 {
	padding: 1px 10px;
	color: #c99e33;
	font-size: 25px;
}

a {
	background-color: #c99e33;
	color: black;
	border-radius:5px;
	padding: 5px;
}

p, li, ul
{
	margin-left: 10px;
    	color: white;
}

::marker {
  	font-size: 0px;
}

li::before {
	content: "\25AA";
	color:  #c99e33;
  	display: inline-block;
	width: 1em;
  	margin-left: 2em;
}

em {
	background-color: black;
	color : #c99e33;
}
